a {
    text-decoration: none;
}
a:hover {
    background-color: azure;
}
.header {
    border: 2px  solid black;
    background-color: #f9f8eb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
    padding: 2px;
}

.header__logo {
    margin: 1px;

}
.nav__greetings {
    margin: 3px;
    padding: 2px;
    flex-grow: 2;
}
.nav {
    margin-right: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 3;
}
.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.nav__href {
    margin: 3px;
}
.nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.contacts {
    margin: 10px;
    padding:10px;
    background-color: #ebb6ee;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
    padding: 2px;
    background-color: #f9faee;
}



.about__h {
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.about__p {
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 35px;
}



.message {
    background-image: url("https://static.thenounproject.com/png/118597-200.png");
    background-repeat: repeat;
    background-size: 5%;
    padding: 25px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.message__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.message__h{
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: snow;
}
.message__name {
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-image: url("https://st2.depositphotos.com/1875497/7657/i/950/depositphotos_76572953-stock-photo-paper-textures-background.jpg");
    background-repeat: repeat;
    background-size: 40%;
    background-color: snow;

}
.message__text {
    background-image: url("https://st2.depositphotos.com/1875497/7657/i/950/depositphotos_76572953-stock-photo-paper-textures-background.jpg");
    background-repeat: repeat;
    background-size: 40%;

    text-align: center;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: snow;
}
.label{
    align-self: center;
    margin: 5px;
    padding: 5px;
}
.message__box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.message__button {
    background-color: darkblue;
    border: 2px;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.message__button:hover {
    background-color: black; /* Green */
    color: white;
}



td {
    padding: 8px;
    border: 1px dashed saddlebrown;
    border-radius: 5px;
    border-spacing: 3px;
}
th {
    border: 1px dashed saddlebrown;
    border-radius: 5px;
    border-spacing: 3px;
    padding: 8px;
}



.educations__h {
    padding: 5px;
    text-align: center;
}



.hobbys__h {
    padding: 5px;
    text-align: center;
}
.hobbys__ol {
   padding: 10px;
}
.hobbys__li{
    padding: 5px;
}



.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 5px;
    padding: 2px;
    border: 2px  solid black;

    background-color: #071619;
    color: #f7eee5;
}
.footer__s{
    text-align: center;
    background-color: #0a0a27;
    color: #ebb6ee;
    margin: 5px;
    padding: 2px;
}